@mixin mq($size) {
    @if $size == '1023' {
        @media (max-width:1023px){
            @content;
        }
    }@else if $size == '639'{
        @media (max-width:639px){
            @content;
        }
    }
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}